
<div class="card-body">
    <span class="badge badge-warning">
        id:{{ device.id}} name : {{ device.name}}
    </span>

<p>
  Name: {{device.name}} 
</p>
<p>
    Status: {{device.status}} 
  </p>
  <p>
    Description: {{device.description}} 
  </p>
  <div class="col-3">
    <img src="{{ device.image }}" class="card-img">
</div>
</div>

<!-- <div class="card my-3" *ngIf="device">
    <div class="card-body">
        <span class="badge badge-warning">
            id:{{ device.id}} name : {{ device.name}}
        </span>
        
        
    </div>

</div> -->
