<div class="alert alert-danger" *ngIf="error">
    Unexpected Error ocurred -404 (Not Found)
</div>
<div class="card my-2" *ngFor="let device of items; let number = index" [routerLink]="['/devices', device.id]">
    <div class="row">
        <div class="col-4">
            <img src="{{ device.image }}" class="card-img">
        </div>
        <div class="col-8">
            <div class="card-body">
                <h3 class="card-title">
                    <a [routerLink]="['/devices', device.id]" class="navbar-brand"> {{ device.name }}</a>
                </h3>

                <p class="card-text">
                    Status: {{ device.isStatus }}
                </p>
            </div>
        </div>

    </div>
</div>